body{
    background-color: antiquewhite;
    background-image: url("../src/Image/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


