/* Styling for the product card container */
.product-card {
    margin-top: 68px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 7px;
    width: 276px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 361px;
    justify-content: space-around;


}


.roots{
    margin-top: 60px;
}
/* Styling for the product image */
.product-card img {
    width: 100px;
    margin-top: 12px;

}

/* Styling for the product title */
.tittile {
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
    top: 250px;

}

.product_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 23px;
}

.two-fild{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.toly{
    font-size: 2.5rem;
}
