/* CSS Styles */
.tack-add-container {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.add-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.modal {
    height: auto;
    width: 555px;
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fild{
    width: 97%;
    height: 28px;
    margin-bottom: 15px;
    background-color: #22272b;
    color: #b6c2cf;
}

.updatedata{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 17px;
}

.input-group {
    margin-bottom: 10px;
}

.save-button, .cancel-button {
    margin-top: 10px;
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    margin-right: 10px;
}

.tack-list {
    margin-top: 20px;
}

.tack-item {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.tack-title {
    font-size: 18px;
    font-weight: bold;
}

.tack-description, .tack-user {
    font-size: 14px;
}

.separator {
    margin-top: 10px;
}

/* Your existing CSS for .board-container */
.board-container {
    display: flex;
    justify-content: space-between;
}

/* Media query for screen width >= 768px */
@media (max-width: 768px) {
    .board-container {
        display: contents;
    }
}


.column {
    color: white;
    height: fit-content;
    border-radius: 12px;
    flex: 1;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    background-color: #000000;
}

.task-card {
    background-color: #22272b;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    /*background-color: white;*/
}



.tack-add-container {
    text-align: center;
    margin-top: 20px;
}

.add-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.modal {
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #100f0f;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.save-button,
.cancel-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.cancel-button {
    background-color: #dc3545;
}

/* Add any additional styling you need */
